{% load i18n static %}

<header class="container d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <a href="#" class="d-flex align-items-center me-3 mb-md-0 me-md-auto text-dark text-decoration-none">
    <img src="{% static 'icons/favicon-32x32.png' %}" class="me-2" width="32" height="32" />
    <span class="fs-4">Security Transfer</span>
  </a>
  {% with request.resolver_match.view_name as view_name %}
    <ul class="nav nav-pills">
      <li class="nav-item"><a href="{% url 'storage:catalog' %}" class="nav-link{% if view_name == 'storage:catalog' %} disabled active{% endif %}">{% translate 'Storage' %}</a></li>
      {% if user.is_authenticated %}
        <li class="nav-item"><a href="{% url 'users:profile' %}" class="nav-link{% if view_name == 'users:profile' %} disabled active{% endif %}">{{ user.username }}</a></li>
      {% else %}
        <li class="nav-item"><a href="{% url 'users:login' %}" class="nav-link{% if view_name == 'users:login' %} disabled active{% endif %}">{% translate 'Sign In' %}</a></li>
      {% endif %}
      <li class="nav-item ms-2">{% include "includes/change_language.html" %}</li>
    </ul>
  {% endwith %}
</header>
