{% extends 'base.html' %}

{% load i18n %}

{% block content %}
  <h1>{% translate 'Profile' %}</h1>
  <form class="mb-4" method="post">
    {% csrf_token %}
    {% include 'includes/form.html' with form=form only %}
    <input class="btn btn-success" type="submit" value="{% translate 'Save changes' %}">
  </form>
  <form action="{% url 'users:logout' %}" method="post">
    {% csrf_token %}
    <input class="btn btn-danger" type="submit" value="{% translate 'Log out' %}">
  </form>
{% endblock %}
