{% extends 'base.html' %}

{% load i18n static math_tags url strings %}

{% block content %}
  <div class="storage-catalog">
    <h1>{% translate 'Catalog' %}</h1>
    <a href="{% url 'storage:create' %}" class="btn btn-success">{% translate 'Create' %}</a>
    <a href="{% url 'crypto:get-public-key' %}" class="btn btn-primary">{% translate 'Get Public Key' %}</a>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">
            <div class="d-flex align-items-center">
              {% if request.GET.sorted_by_field == 'file' %}
                <a href="{% url 'storage:catalog' %}?{% params_replace request sorted_by_field='-file' %}">{% translate 'File name' %}</a>
                <span class="table__sort ms-2"></span>
              {% elif request.GET.sorted_by_field == '-file' %}
                <a href="{% url 'storage:catalog' %}?{% params_replace request sorted_by_field='' %}">{% translate 'File name' %}</a>
                <span class="table__sort ms-2 table__sort_desc"></span>
              {% else %}
                <a href="{% url 'storage:catalog' %}?{% params_replace request sorted_by_field='file' %}">{% translate 'File name' %}</a>
              {% endif %}
            </div>
          </th>
          <th scope="col">
            <div class="d-flex align-items-center">
              {% if request.GET.sorted_by_field == 'user' %}
                <a href="{% url 'storage:catalog' %}?{% params_replace request sorted_by_field='-user' %}">{% translate 'Author' %}</a>
                <span class="table__sort ms-2"></span>
              {% elif request.GET.sorted_by_field == '-user' %}
                <a href="{% url 'storage:catalog' %}?{% params_replace request sorted_by_field='' %}">{% translate 'Author' %}</a>
                <span class="table__sort ms-2 table__sort_desc"></span>
              {% else %}
                <a href="{% url 'storage:catalog' %}?{% params_replace request sorted_by_field='user' %}">{% translate 'Author' %}</a>
              {% endif %}
            </div>
          </th>
          <th scope="col">
            <div class="d-flex align-items-center">
              {% if request.GET.sorted_by_field == 'created_at' %}
                <a href="{% url 'storage:catalog' %}?{% params_replace request sorted_by_field='-created_at' %}">{% translate 'Created at' %}</a>
                <span class="table__sort ms-2"></span>
              {% elif request.GET.sorted_by_field == '-created_at' %}
                <a href="{% url 'storage:catalog' %}?{% params_replace request sorted_by_field='' %}">{% translate 'Created at' %}</a>
                <span class="table__sort ms-2 table__sort_desc"></span>
              {% else %}
                <a href="{% url 'storage:catalog' %}?{% params_replace request sorted_by_field='created_at' %}">{% translate 'Created at' %}</a>
              {% endif %}
            </div>
          </th>
          <th scope="col">
            <div class="d-flex align-items-center">
              {% if request.GET.sorted_by_field == 'updated_at' %}
                <a href="{% url 'storage:catalog' %}?{% params_replace request sorted_by_field='-updated_at' %}">{% translate 'Updated at' %}</a>
                <span class="table__sort ms-2"></span>
              {% elif request.GET.sorted_by_field == '-updated_at' %}
                <a href="{% url 'storage:catalog' %}?{% params_replace request sorted_by_field='' %}">{% translate 'Updated at' %}</a>
                <span class="table__sort ms-2 table__sort_desc"></span>
              {% else %}
                <a href="{% url 'storage:catalog' %}?{% params_replace request sorted_by_field='updated_at' %}">{% translate 'Updated at' %}</a>
              {% endif %}
            </div>
          </th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for file in page_obj %}
          <tr class="file" data-file-id="{{ file.pk }}" data-file-url="{{ file.file.url }}">
            <td>{{ file.file.name|ltruncatechars:30 }}</td>
            <td>{{ file.user }}</td>
            <td>{{ file.created_at }}</td>
            <td>{{ file.updated_at }}</td>
            <td><button class="btn btn-success file__download">{% translate 'Download' %}</button></td>
            <td><a href="{% url 'storage:update' pk=file.pk %}" class="btn btn-warning">{% translate 'Update' %}</a></td>
            <td><a href="{% url 'storage:delete' pk=file.pk %}" class="btn btn-danger">{% translate 'Delete' %}</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item"><a href="?{% params_replace request page='1' %}" class="page-link">1</a></li>
      {% endif %}
      {% if page_obj.number|subtract:2 > 1 %}
        <li class="page-item"><a href="?{% params_replace request page=page_obj.number|subtract:2 %}" class="page-link">{{ page_obj.number|subtract:2 }}</a></li>
      {% endif %}
      {% if page_obj.number|subtract:1 > 1 %}
        <li class="page-item"><a href="?{% params_replace request page=page_obj.number|subtract:1 %}" class="page-link">{{ page_obj.number|subtract:1 }}</a></li>
      {% endif %}
      {% if page_obj.has_other_pages %}
        <li class="page-item active" style="cursor: pointer;"><div class="page-link">{{ page_obj.number }}</div></li>
      {% endif %}
      {% if page_obj.paginator.num_pages|subtract:page_obj.number > 1 %}
        <li class="page-item"><a href="?{% params_replace request page=page_obj.number|add:1 %}" class="page-link">{{ page_obj.number|add:1 }}</a></li>
      {% endif %}
      {% if page_obj.paginator.num_pages|subtract:page_obj.number > 2 %}
        <li class="page-item"><a href="?{% params_replace request page=page_obj.number|add:2 %}" class="page-link">{{ page_obj.number|add:2 }}</a></li>
      {% endif %}
      {% if page_obj.has_next %}
        <li class="page-item"><a href="?{% params_replace request page=page_obj.paginator.num_pages %}" class="page-link">{{ page_obj.paginator.num_pages }}</a></li>
      {% endif %}
    </ul>
  </div>
{% endblock %}

{% block extra_body %}
  <script src="{% static 'js/apps/storage/catalog.js' %}"></script>
  <script>
    const getFileCryptoDataUrl = () => {
      return '{% url "storage:crypto" pk=0 %}'.replace('0', '{0}');
    }
  </script>
{% endblock %}
