{% extends 'base.html' %}

{% load i18n static %}

{% block content %}
  <h1>{% translate 'Loading file to the storage' %}</h1>
  <form method="post" enctype="multipart/form-data" id="create-file-form">
    {% csrf_token %}
    {% include 'includes/form.html' with form=form only %}
    <input type="submit" value="{% translate 'Create' %}" class="btn btn-success">
  </form>
{% endblock %}

{% block extra_body %}
  <script src="{% static 'js/apps/storage/create_file.js' %}"></script>
{% endblock %}
